<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ notizia.titolo }}</title>
  <meta property="og:title" content="{{ notizia.titolo }}" />
  {% if notizia.immagine %}
  <meta property="og:image" content="{{ notizia.immagine }}" />
  {% endif %}
  {% if notizia.video %}
  <meta property="og:image" content="{{ notizia.video }}" />
  <meta property="og:video:type" content="application/x-shockwave-flash" /> 
  {% endif %}
  <meta property="og:url" content="{{ request.url }}" />
  <meta http-equiv="refresh" content="0; url={{ notizia.redirect }}" />
</head>
<body>
</body>
</html>